$colores:(
        Color1: rgba(0, 32, 93, 1),
        Color2: rgba(230, 19, 19, 0.452),
        Color3: red,
        Color4: black,
        Color5: white,
);

$font-size:(
        xs : 1rem,
        s : 1.3rem,
        md : 1.5rem,
        lg : 2.5rem,
);